/*
 * options.css
 */

fieldset {
  margin-bottom: 1em;
}

.List {
  margin: 1em;
  padding-left: 0;
  list-style: none;
}

.List > li {
  margin-bottom: 0.75em;
}

.OutputExample {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1em 0;
  line-height: 1;
}

.OutputExample__text {
  margin: 0 0 1em;
  white-space: nowrap;
}

.OutputExample__arrow {
  margin: 0 1em;
}

#save {
  margin-right: 0.5em;
}
